.sidebar {
    height: 100%;
}
.sidebar img {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar ul{
    list-style: none;
    padding-left: 10px;
}
.sidebar ul li {
    padding: 8px 0px;
}
.sidebar ul li i {
    margin-right: 10px;
}
.sidebar ul li a {
    color: black;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
}
.nav-active{
    font-weight: 500 !important;
    color: #7ab259 !important;
}