*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img{
  width: 100%;
}
.page-loading{
  background: rgba(0, 0, 0, 0.13);
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}
.btn-brand {
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
  border: none;
  padding: 6px 40px;
  border-radius: 5px;
}
.btn-brand:hover{
  background-color: black;
  cursor: pointer;
}

.text-brand {
  text-align: center;
  font-size: 40px;
  font-family: 'Texturina', serif;
  margin-top: 20px;
  margin-bottom: 70px;
  color: #313131;
}
.text-brand span{
  color: #5a903a
}

